<div class="wrapper-img-info">
	<div class="wrapper-img">
		<span>kjsdbfksnak.</span>
	<img src=`{{image_url}}` alt=`{{title}}` />
	<a href=`{{mal_id}}`>{{title}}</a>
	</div>
	<div class="wrapper-info">
		<h1>{{this.title}}</h1>
		<h2>{{synopsis}}</h2>
		<p>Reviews: {{score}}</p>
	</div>
</div>