<div class="wrapper-img-info">
	<div class="wrapper-img">
	<img src='{{this.image_url}}' alt='{{this.title}}' />
	<a href="/manga-{{this.id}}">{{this.title}}</a>
	</div>
	<div class="wrapper-info">
		<h1>{{{this.title}}}</h1>
		<h2>{{{this.synopsis}}}</h2>
		<p>Reviews: {{{this.score}}}</p>
	</div>
</div>