<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/auth.css" />
  <link rel="stylesheet" href="/stylesheets/header.css" />
  <link rel="stylesheet" href="/stylesheets/browse.css" />
  <link rel="stylesheet" href="/stylesheets/mangainfo.css" />
  <link rel="stylesheet" href="/stylesheets/footer.css" />

</head>

<body>

  {{!-- ANIME INFOS --}}
  {{> header user = userInSession}}

  <section class="manga-detail">
    <div class="wrapper-manga-info">
      <div class="wrapper-img">
        <img class="manga-info" src={{mangainfo.image_url}} />
      </div>
      <div class="wrapper-info">
        {{#if mangainfo.title_english}}
        <h1>{{mangainfo.title_english}}</h1>
        {{else}}
        <h1>{{mangainfo.title}}</h1>
        {{/if}}
        <p>{{mangainfo.synopsis}}</p>
        <h1>Anime Info</h1>
        <table class="scores anime-info">
          <tr>
            <td>
              <p class="tbody-title">Favorites:</p> {{mangainfo.favorites}}
            </td>
            <td>
              <p class="tbody-title">Score:</p> {{mangainfo.score}}/10
            </td>
          </tr>
          <tr>
            <td>
              <p class="tbody-title">Number of episodes:</p> {{mangainfo.episodes}}
            </td>
            <td>
              <p class="tbody-title">Rating: </p>{{mangainfo.rating}}/10
            </td>

          </tr>
          <tr>
            <td>
              <p class="tbody-title">Genres:</p>
              {{#each mangainfo.genres}}
              {{name}}
              {{/each}}
            </td>
            <td>
              <p class="tbody-title">Status :</p> {{mangainfo.status}}
            </td>
          </tr>
        </table>


        <div class="save-icon pt-5">
          <a href="/folder/addAnime/{{mangainfo.mal_id}}/liked"  class="liked-anime" >
            <svg  width="40" height="40" viewBox="0 0 32 32" class="heart">
                        <path class="heart-path" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
                            C30,20.335,16,28.261,16,28.261z" />
                    </svg>
          </a>
          <a href="" data-bs-toggle="modal" data-bs-target="#mi-modal-anime">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
              <path
                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
            </svg>
          </a>
        </div>

        
      </div>
    </div>
    {{#if mangainfo.trailer_url}}
    <div class="anime-trailer">
      <h1>Watch the trailer</h1>
      <iframe width="560" height="315" src="{{mangainfo.trailer_url}}">
      </iframe>
    </div>
    {{/if}}

  </section>


  {{!-- REVIEWS --}}
  <section id="reviews">
    <h1>Reviews</h1>
    {{#if reviews}}
    <div class="section-review">
      {{#each reviews}}
      <div class="reviews-box-container">
        <div class="reviews-box">
          <div class="box-top">
            <div class="profile">
              <div class="name-user">
                <div class="user-image">
                  <img src="{{reviewer.image_url}}" alt="{{reviewer.username}} image" class="user-img">
                </div>
                <h3 class="line-clamp-username"> {{reviewer.username}}</h3>
              </div>
            </div>
            <div class="review-text module line-clamp" style="max-width: 800px">
              {{content}}

            </div>
          </div>


          {{!-- MODAL REVIEW --}}
          <p class="btn-read-more" data-bs-toggle="modal" data-bs-target="#mi-modal-{{mal_id}}">
            Read more...
          </p>

          <div class="modal fade" id="mi-modal-{{mal_id}}" tabindex="-1" aria-hidden="true"
            aria-labelledby="label-modal-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Review by {{reviewer.username}}</h5>
                  <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>{{content}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn-modal login-btn" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      {{/each}}
      {{else}}
      <p class="">There is no review yet! Be first to share your opinion on this manga!</p>
      {{/if}}
    </div>
  </section>

  {{!-- ADD A REVIEW --}}
  <section id="add-review">
    <h1>Add a review</h1>
    {{#if userInSession}}
    <form id="review-form" action="/review/" method="POST">
      <textarea class="form-txt" type="text" placeholder="What did you think of the manga?" aria-label="Review"
        name="content"></textarea>
      <input type="text" style="display: none;" name="iduser" value={{userInSession._id}}>
      <input type="text" style="display: none;" name="mal_id" value={{mangainfo.mal_id}}>
      <br>
      <button class="btn-submit" type="submit">
        Submit
      </button>
    </form>
    {{else}}
    <p>You must have an account to leave a review</p>
    <button class="login-btn"><a href="/auth/login">Log In</a></button>
    <button class="sign-btn"><a href="/auth/signup">Sign in</a></button>
    {{/if}}
  </section>
  {{> footer}}


  <!-- modals -->

<div class="modal fade" id="mi-modal-anime" tabindex="-1" aria-hidden="true" aria-labelledby="label-modal-2"
    data-bs-backdrop="static">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{mangainfo.title}}</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div>
                    {{#each boards}}
                    <div class="list-group">
                        <a href="/folder/addAnime/{{../mangainfo.mal_id}}/board/{{this._id}}"
                            class="list-group-item list-group-item-action"
                            style="text-transform: uppercase;">{{this.folderName}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>